$black: #000000;
$dune: #2c2924;
$darkslategrey: darkslategrey;
$white: white;
$candle-light:  #ffd819;
$picasso: #ffeb91;

$wild-blue-yonder: #838bb2;
$blue-marguerite: #727ac9;
$truv: #6966db;
$royal-blue: #6d4ae6;
$electric-viole: #7e12eb;
